*.swp
out.txt
.stats/
all.files
krb.README
README.krb
*~
.local-screen/
.tmux.conf
# state file for krb.git shell helper
.krb.branches
.krb.branches.bak
# silver searcher / ag ignore file
.ignore
# a sentinel file I use for coordinating build activities between shells
.services-restarted
.named-tmux
